#debug {
  width: 100%;
  position: fixed;
  bottom: -200px;
  height: 200px;
  background: #000000;
  left: 0;
  padding: 0;
  @include transition(bottom .5s);

  &.show {
    bottom: 0px;
    border-top: 2px solid $fontColor;
    @include box-shadow(0 0 15px 1px $fontColor);
  }

  nav {
    float: left;
    .btn {
      width: 150px;
    }
  }

  code {
    padding: 20px;
    margin: 0;
    float: left;
    pre {
      margin: 0;
      padding: 0;
    }
  }
}