.game {
  margin: 15px 0;
  padding: 2px;
  width: 100%;
  max-width: $maxWidth;
  background: $fontColor;
  position: relative;
  @include box-shadow(0 0 15px 1px $fontColor);

  canvas {
    background-color: black;
    width: 100%;
    height: auto;
    display: block;
  }

  .toggleFullscreen {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #000000;
    background-image: url(../images/layout/big.png);
    border: none;

    &:hover {
      @include scale(1);
      @include box-shadow(none);
      border: none;
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;

    .toggleFullscreen {
      background-image: url(../images/layout/small.png);
    }

  }
}

@import '../responsive/layout/game';