body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  color: $fontColor;
  font-size: $baseFontSize;
  text-shadow: 0px 2px #000000;
}

h1 {
  font-size: 4.0rem;
  margin: 5px 0;
  padding: 0px;
  text-shadow: 0px 3px #000000;
}